<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <title>Ashley Zimmerman | Blog</title>
  <style>
  html {
    box-sizing: border-box;
  }
  * {
  border: 1px solid red;
}
body{
  background-color:light-blue;
  color: black;
  font font-family: times;
  }

div {
    padding: 10px;
}
div {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}
div {
    padding: 5px 10px 5px 10px;
}
div {
    margin: 30px;
}
div {
    box-sizing: border-box;
    width: 300px;
    height: 200px;
}
.container {
  max-width: : 900px;
  margin: 0;

}
.highlighter{
  background-color: : yellow;
}
.navigation{
  list-style: none;
  display:inline;
  color: light-blue;
}
.navigation li{
  list-style: none;
  display:inline;

}
#blog-footer{
  background-color: grey;
}
</style>

</head>

<body>
  <div class="container"


    <div class ="navigation" ul li {
      list-style : none;
      display : inline;
    }
    </div>
    <div class ="header"
    </div>
    <div class ="content-area"
    </div>
    <h1> Just another wordpress title</h1>
    <p>
    I aim to create solutions and experiences that solve problems. Working as a team I strive to understand people’s stories and creative ideas. I focus on the hands-on process from beginning to end of a design.
    </p>
  ​</div>
  <div class ="footer"
  </div>



</body>
</html>
